<h1>Login to my awesome page</h1>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username"></input>
	<input type="password" name="password" placeholder="Password"></input>
	<button type="submit">Login</button>
</form>