<p><%= @params %></p>
<form action="/new_task" method="post">
	<input type="text" name="task" placeholder="Task Details"><br>
	<button type="submit" name="submit" value="create">Create Task</button>
</form>