body{ 
	padding-top: 70px; 
	background-color: #F5F8FA;
}
.flex-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
._nopadding {
	padding: 0;
}
._fullwidth {
	width: 100%;
}

/* FOR TESTING ONLY */
.left-column{
	border: 1px solid red;
}