body{ 
	padding-top: 70px; 
}
.flex-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
._nopadding {
	padding: 0;
}
._fullwidth {
	width: 100%;
}

/* FOR TESTING ONLY */
.jumbotron{
	border: 1px solid red;
	background-color: green;
}