<!DOCTYPE html>
<html>
<head>
	<title>Congrats</title>
</head>
<body>
	<img src="https://media.giphy.com/media/XuOOXWY29Y4z6/giphy.gif">
	<img src="http://media.giphy.com/media/Bj1taqGUHCKu4/giphy-tumblr.gif">
	<br>
	<img src="https://media.giphy.com/media/3o7abLxIo5d9VP5ftm/giphy.gif">
</body>
</html>