body {
	margin-top: 30px;
}

p {
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	display: table;
}

li {
	display: table-row;
}

.remove {
	color: red;
	text-decoration: none !important;
	position: absolute;
	right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.remove:hover {
	color: white;
	border: 1px solid black;
	border-radius: 50%;
	background-color: red;
}