<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= link_to "Add new product", new_user_product_path %> &nbsp;&nbsp;&nbsp;
<%= link_to "Back", url_for(:back)  %>
<ul>
	<% @products.each do |product| %>
		<li>
			<strong>
				<%= link_to product.title, user_product_path(@user, product)  %>
			</strong> 
		</li>
	<% end %>
</ul>