<% if flash[:notice] %>
	<%= flash[:notice] %>
	<br>
<% end %>

<%= link_to "Add new user", "/users/new" %>

<ul>
	<% @users.each do |user| %>
		<li>
			<strong>
				<%= link_to user.name, user_path(user)  %>
			</strong>
		</li>
	<% end %>
</ul>