
.container {
    width: 400px;
    margin: 0 auto;
}
[class*=col] {
    display: inline; 
    float: left; 
    border: 1px solid red;
/* mobile first */
    width: 400px;
}
.row { 
    margin: -20px;
    width: 100%;
    text-align: center;
}



@media only screen and (min-width: 600px) {
    .container { width: 600px; }
    .col-3 { width: calc(300px - 1em); }
    .col-4 { width: calc(300px - 1em); }
    .col-5 { width: 600px; }
}

@media only screen and (min-width: 940px) {
    .container { width: 940px; }
    .col-3 { width: calc(940px / 3); }
    .col-4 { width: calc(940px / 4); }
    .col-5 { width: calc(940px / 5); }
}
