body {
  font-family: "PT Sans", sans-serif;
}
.widget {
  width: 300px;
  margin: 10px auto 0;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  background-color: #ccc;
}

.search-header {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.search-form {
  margin: 0;
}

#search {
  height: 25px;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

#search::-webkit-calendar-picker-indicator {
  display: none;
}

#search::-webkit-input-placeholder { text-align: center; line-height: 25px; color: black; font-size: 15px; }
#search::-moz-placeholder          { text-align: center; line-height: 25px; color: black; font-size: 15px; }
#search:-ms-input-placeholder      { text-align: center; line-height: 25px; color: black; font-size: 15px; }
#search:-moz-placeholder           { text-align: center; line-height: 25px; color: black; font-size: 15px; }

#search:focus {
  outline: none;
}

.header {
  margin-top: 0;
  height: 78px;
  background-color: #ccc;
  position: relative;
  font-size: 12px;
}

.btn-play {
  margin: 9px;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50px;
  border: 1px solid #3c3c3c;
  user-select: none;
  -webkit-user-select: none;
}

.btn-play:after {
  content: ' ';
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -10px;
  top: -18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid #3c3c3c;
}

.btn-play:hover {
  cursor: pointer;
  border-color: #666;
}

.btn-play:hover:after {
  border-left-color: #666;
}

.btn-play:active:after {
  border-left-color: #000;
}

.btn-play.playing:before, .btn-play.playing:after {
  width: 9px;
  height: 36px;
  background-color: #3c3c3c;
  position: absolute;
  content: "";
  top: 22px;
  left: 27px;
  border: 0;
  margin: 0;
}

.btn-play.playing:after {
  left: 43px;
}

.btn-play.playing:hover:before, .btn-play.playing:hover:after {
  background-color: #666;
}

.btn-play.playing:active:before, .btn-play.playing:active:after {
  background-color: #000;
}

.btn-play.disabled {
  border-color: #888;
}

.btn-play.disabled:hover {
  cursor: auto;
}

.btn-play.disabled:after {
  border-left-color: #888;
}

.metadata {
  display: inline-block;
  padding: 10px;
  width: calc(100% - 100px);
}

.title, .author {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  line-height: 1.4em;
  height: 1.4em;
  font-size: 14px;
  font-weight: bold;
}

.author {
  font-weight: normal;
}

.seekbar {
  margin-top: 5px;
  width: 100%;
}

.cover, .artist-cover{
  height: 300px;
  position: relative;
}

.cover img, .artist-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 0;
}

audio {
  display: none;
}

progress {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #3e3e40;
  position: relative;
  border: 0;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #3e3e40;
}

progress::-webkit-progress-value {
  background-color: #45a800;
}

progress::-moz-progress-bar {
  background-color: #45a800;
}

.artist-info {
 width: 100%
}

.js-bottom-button {
  height: 25px;
  font-size: 15px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: left;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.js-bottom-button:hover {
  border: 1px solid black;
  border-top: 0;
}
.js-bottom-button[disabled]:hover {
  border: none;
}

.js-bottom-button:active {
  background-color: #aaa;
}


/* author widget */
.author-header {
  text-align: center;
}
.author-title {
  margin: 5px;
}
.tracks-list {
  padding: 10px;
  margin: 0;
  list-style-type: none;
}

.tracks-list li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.js-top-track {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #ccc;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  padding: 0;
}

.js-top-track:focus {
  outline: none;
}

.tracks-list hr {
  margin: 5px 0;
}
.back-button:hover {
  border-top: 1px solid black;
}