<h1>Welcome to the movie game!</h1>
<h2>Select your game options</h2>
<form action="/play" method="POST">
	<p>
		<label for="search">Search For</label>
		<input type="text" name="search"><br>
	</p>
	<p>
		<label for="type">In</label>
		<select name="type">
			<option value="year">Release Year</option>
			<option value="release_date">Release Date</option>
			<option value="length">Length (minutes)</option>
			<option value="rating">Imdb rating</option>
			<option value="company">Creation company</option>
			<option value="actor">Actor (top 5)</option>
			<option value="character">Character (top 5)</option>
			<option value="character_match">Aactor Character match (top 5)</option>
			<option value="tagline">Tagline</option>
			<option value="directors">Directors</option>
			<option value="genres">Generes (all)</option>
			<option value="writers">Writers</option>
			<option value="actor_hard">Actor (all)</option>
			<option disabled="disabled"> -- HARD -- </option>
			<option value="character_hard">Character (all)</option>
			<option value="character_match_hard">Aactor Character match (all)</option>
			<option value="title_hard">Foreign Titles</option>

		</select>
	</p>
	<button type="submit">Play!</button>
</form>