<h1>Welcome to the movie game!</h1>
<h2>Select your game options</h2>
<form action="/play" method="POST">
	<p>
		<label for="search">Search For</label>
		<input type="text" name="search"><br>
	</p>
	<p>
		<label for="type">In</label>
		<select name="type">
			<option value="year">Release Year</option>
		</select>
	</p>
	<button type="submit">Play!</button>
</form>